.pessoa{
    border-radius: 20px;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
}
ion-item{
    h2{
        font-weight: bold;
    }
    p{
        font-size: 14px;
    }
}
ion-item:active{
    --ion-background-color: #D3D3D3;
}